* text=auto

*.ipynb text eol=lf
*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.csv text eol=lf

*.pdf binary
*.xls binary
*.xlsx binary
*.parquet binary
*.png binary
*.jpg binary
*.jpeg binary
*.html text eol=lf
